.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 94%;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .wrapper {
    width: 90%;
  }
}
@media screen and (min-width: 1024px) {
  .wrapper {
    width: 86%;
    max-width: 1200px;
  }
}