.header {
    .wrapper {
        justify-content: space-between;
        height: 60px;
        align-items: center;
        transition: 0.3s;
    }
    &__menu {
        display: flex;
        align-items: center;
        gap: 20px;
    }
    &__search {
        width: 20px;
        height: 20px;
    }
    &__burger {
        position: relative;
        height: 20px;
        width: 34px;
        border: none;
        background: none;
        padding: 5px 0;
    }
    .burger__line {
        position: absolute;
        width: 34px;
        height: 2px;
        background-color: #000000;
        border-radius: 2px;
        transition: transform 0.4s, opacity 0.4s;
  
        &:nth-child(1) {
          transform: translateY(-10px);
        }
        &:nth-child(3) {
          transform: translateY(10px);
        }
      }

    &.open .burger__line {
    &:nth-child(1) {
        transform: translateY(0) rotate(45deg);
    }
    &:nth-child(2) {
        opacity: 0;
    }
    &:nth-child(3) {
        transform: translateY(0) rotate(-45deg);
    }
    }
    &.open .wrapper {
        padding-bottom: 270px;
    }
}

.nav {
    &__list {
    position: absolute;
    z-index: 2;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 30px;
    left: 50%;
    transform-origin: top;
    transform: translate(-50%) scaleY(0);
    top: 60px;
    transition: top 0.3s, transform 0.2s ease-in-out;
  }
    &__link {
    font-family: "Lato", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 17px;
    text-transform: uppercase;
    text-decoration: none;
    color: #000;
  }
  .header.open &__list {
        transform: translate(-50%) scaleY(1);
        top: 80px;
  }
}

.first-screen {
    position: relative;
    &__title {
        width: 90%;
        position: absolute;
        font-family: "RedHatDisplay", sans-serif;
        font-size: 30px;
        font-weight: 600;
        line-height: 50px;
        letter-spacing: 0.05em;
        margin-top: 70px;
    }
    &__img {
        width: 100%;
    }
}