@import "common";

.blog {
	width: 320px;
	margin: 0 auto;

	&-title {
		display: flex;
		width: 96%;
		justify-content: center;
		font-family: "RedHatDisplay", sans-serif;
		font-size: 48px;
		font-weight: 400;
		line-height: 64px;
		letter-spacing: 0.05em;
		color: #000000;
	}

	&__content p:nth-child(3) {
		margin: 0;
	}

	&__post {
		display: block;
		width: 320px;
		justify-content: center;
		flex-direction: column;
		align-items: center;

		&-text {
			max-width: 96%;
			font-family: "Lato", sans-serif;
			font-style: normal;
			font-weight: 400;
			font-size: 16px;
			letter-spacing: 0.1em;
			color: #7b7b7b;
			margin-bottom: 30px;
			margin-top: 50px;
		}

		&-title {
			font-family: "Red Hat Display", sans-serif;
			font-style: normal;
			font-weight: 500;
			font-size: 22px;
			letter-spacing: 0.1em;
			color: #000000;
			margin-bottom: 15px;
		}
	}

	&__first-item {
		width: 320px;
		width: 100%;
		background-size: contain;
	}
}
